      <section id="about" class="section section-about">
        <h2 class="heading-secondary">About Me</h2>

        <div class="container">
          <div class="row">

            <div class="col-sm-6 col-sm-push-6">
              <img src="/img/gloria-chan-working.jpg" class="border" alt="Gloria Chan Photo" />
            </div>

            <div class="col-sm-6 col-sm-pull-6">
              <div class="margin-top text-lg">
                <p>Hello! My name is Gloria and Siugo is my childhood nickname. I am a mobile makeup artist and hairstylist who specializes in weddings. It brings me great joy to help bring confidence to my brides and have them truly be themselves on their big day.</p>

                <p>On top of bridal beauty, I also cover other makeup and hairstyling needs including photoshoots of engagement, maternity, family and boudoir, as well as graduation ceremonies, parties and editorial photography. </p>

                <p>My area of service covers Metro Vancouver and I am available for destination weddings. You are welcome to inquire in English, Cantonese or Mandarin.</p>
              </div>
            </div>

          </div>
        </div>
      </section>
