      <section class="section section-about">
        <div class="content">
          <h2 class="heading-secondary">About Me</h2>

          <div class="container">
            <div class="row">

              <div class="col-sm-6 col-sm-push-6">
                <img src="/img/gloria-chan.jpg" class="border" alt="Gloria Chan Photo" />
              </div>

              <div class="col-sm-6 col-sm-pull-6">
                <div class="margin-top">
                  <p>Welcome to SIUGO Makeup I Hairstyle!</p>
                  <p>SIUGO = Little Gloria = Me.</p>
                  <p>I am a freelance mobile makeup artist & hairstylist with professional trainings and certificate. My service extents over Metro Vancouver in English, Cantonese and Mandarin.
                  Glowy and dewy bridal makeup is my forte. I am here to bring out your natural beauty at its best.</p>
                  <p>For any inquiry or to make a quote, please email gloria.siugo@gmail.com or call 604.928.5815.</p>
                  <p>P.S. Gloria is a cat lover. Meow!</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>