      <section id="about" class="section section-about">
        <h2 class="heading-secondary">About Me</h2>

        <div class="container">
          <div class="row">

            <div class="col-sm-6 col-sm-push-6">
              <img src="/img/gloria-chan-working.jpg" class="border" alt="Gloria Chan Photo" />
            </div>

            <div class="col-sm-6 col-sm-pull-6">
              <div class="margin-top text-lg">
                <p><span class="text-xl">Why SIUGO?</span></p>
                <p>SIUGO is a nickname for Gloria. But there are so many Glorias' out there and I want to be unique. And as a mobile makeup artist and hair stylist who specializes in weddings, I believe all brides should be unique.</p>
                <p>This is my vision and passion and it is what SIUGO represents - <strong>to enhance your unique natural beauty</strong>.</p>
                <p>My area of service covers Metro Vancouver and I am available for destination weddings. I am fluent in English, Cantonese and Mandarin.</p>
                <!-- <p>Welcome to SIUGO Makeup | Hairstyle! SIUGO represents my vision and passion as mobile makeup artist and hair stylist.</p>
                <p>SIUGO = Little Gloria = Me.</p>
                <p>I am a mobile makeup artist & hairstylist. My area of serice covers Metro Vancouver and I am available to travel worldwide for destination weddings. I am fluent in English, Cantonese and Mandarin.
                Glowy and dewy bridal makeup is my forte. I am here to bring out your natural beauty at its best.</p>
                <p>For any inquiry or to make a quote, please email gloria.siugo@gmail.com or call 604.928.5815.</p>
                <p>P.S. Gloria is a cat lover. Meow!</p> -->
              </div>
            </div>

          </div>
        </div>
      </section>