			<section class="section-hero fixed-max-height">
				<div class="carousel">
					<img src="/img/header-hero-1.jpg" alt="Homepage Header image" />
					<img src="/img/header-hero-2.jpg" alt="Homepage Header image" />
					<img src="/img/header-hero-3.jpg" alt="Homepage Header image" />
					<img src="/img/header-hero-4.jpg" alt="Homepage Header image" />
					<img src="/img/header-hero-5.jpg" alt="Homepage Header image" />
				</div>
        <div class="section-header">
          <h1 class="heading zoomIn animated">SIUGO</h1>
          <div class="heading-secondary nowrap fadeIn animated">makeup | hairstyle</div>
        </div>
      </section>