<section id="reviews" class="section section-review">
  <h2 class="heading-secondary">Reviews</h2>

	<div class="widget-container-219e052492f4008818b8adb6366c7ed6"></div><script>!function(){function e(){n=window.jQuery.noConflict(!0),t()}function t(){n(document).ready(function(e){var t="https://www.reviewembed.com/loadExternal/219e052492f4008818b8adb6366c7ed6?callback=?";e.getJSON(t,function(t){e(".widget-container-219e052492f4008818b8adb6366c7ed6").html(t.html)})})}var n;if(void 0===window.jQuery||"1.4.2"!==window.jQuery.fn.jquery){var a=document.createElement("script");a.setAttribute("type","text/javascript"),a.setAttribute("src","https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"),a.readyState?a.onreadystatechange=function(){("complete"==this.readyState||"loaded"==this.readyState)&&e()}:a.onload=e,(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(a)}else n=window.jQuery,t()}();</script>

</section>