      <section id="services" class="section section-services">
        <h2 class="heading-secondary">Services</h2>
        <div class="container">  
          <div class="row">
            <div class="col-sm-4">
              <h3>Bridal</h3>
              <ul>
                <li>Long-lasting Wear</li>
                <li>On location Service</li>
                <li>Touchup &amp; Style Change</li>
                <li>Consultation &amp; Trial</li>
                <li>Bridal Party &amp; Groom</li>
                <li>Headpieces rental &amp; more</li>
              </ul>
              <p class="text-price">$275+</p>
            </div>

            <div class="col-sm-4">
              <h3>Events &amp; Photography</h3>
              <ul>
                <li>Engagement &amp; Pre-wedding</li>
                <li>Bridal Boudoir</li>
                <li>Maternity</li>
                <li>Proms &amp; Graduations</li>
                <li>Parties &amp; events</li>
                <li>Professional Headshots</li>
              </ul>
              <p class="text-price">$150+</p>
            </div>

            <div class="col-sm-4">
              <h3>Editorial</h3>
              <ul>
                <li>Product</li>
                <li></li>
                <li>Lifestyle</li>
                <li></li>
                <li>Story</li>
              </ul>
            </div>
          </div>
        </div>
        <a href="#contact" class="cta-find-more smooth-scroll">Find out more</a>
      </section>