    <footer id="contact" class="main-footer">
      <h2 class="heading-secondary">Contact Gloria</h2>

      <div class="container">
        <!-- <p class="text-center">For wedding inquiries, please indicate the date, desired services, and location.</p>
        <form id="main-footer-form" class="main-footer-form" action="contact" method="post">
          <div id="form-alert" class="alert hide"><span class="text"></span></div>
          <div class="row">
            <div class="col-sm-6">
              <input type="text" class="form-control" id="input-name" name="name" placeholder="Your Name">
              <input type="email" class="form-control" id="input-email" name="email" placeholder="Your Email">
              <input type="text" class="form-control" id="input-subject" name="subject" placeholder="Subject">
            </div>
            <div class="col-sm-6">
              <div class="border-bottom">
                <textarea class="form-control" id="input-desc" name="description" rows="4" placeholder="Message"></textarea>
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </div>
        </form> -->

        <div class="social-container">
          <a href="https://www.facebook.com/SIUGO.Makeup.Hairstyle/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.pinterest.com/siugoria/hairstyle/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
          <!-- <a href="https://www.instagram.com/gloriasiugo/" target="_blank"><i class="fa fa-instagram"></i></a> -->
        </div>

        <div class="text-center margin-bottom margin-top font-large">
          <a href="mailto:gloria.siugo@gmail.com" class="cta-contact-info"><i class="fa fa-envelope-o"></i> gloria.siugo@gmail.com</a>
          <a href="tel:+16049285815" class="cta-contact-info"><i class="fa fa-phone fa-large"></i> 604.928.5815</a>
        </div>

        <div class="copyright">&copy; 2017 by SIUGO <span>Makeup | Hairstyle</span></div>
      </div>

    </footer>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/plugins.min.js"></script>
    <script src="js/siugo.min.js"></script>

    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "Gloria Chan",
        "url" : "http://www.siugo.co",
        "sameAs" : [
          "https://www.facebook.com/SIUGO.Makeup.Hairstyle/",
          "https://www.pinterest.com/siugoria/hairstyle/",
          "https://www.instagram.com/gloriasiugo/"
        ]
      }
    </script>
