    <footer id="contact" class="main-footer">
      <h2 class="heading-secondary">Contact</h2>

      <p class="text-center">Send Gloria a message to find out more.</p>

      <div class="container">
        <p class="text-center">For wedding inquiries, please indicate the date, desired services, and location.</p>

        <div class="social-container">
          <a href="https://www.facebook.com/siugomuah/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.weddingwire.ca/wedding-makeup/siugo--e17158" target="_blank">
            <img src="/img/logo-weddingwire-3.png" class="icon" />
          </a>
          <a href="https://www.instagram.com/siugomuah/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>

        <div class="text-center margin-bottom margin-top font-large">
          <a href="mailto:gloria.siugo@gmail.com" class="cta-contact-info"><i class="fa fa-envelope-o"></i> gloria.siugo@gmail.com</a>
        </div>

        <div class="copyright">&copy; 2020 by SIUGO <span>Makeup | Hairstyle</span> | <a href="/privacy-policy.html">Privacy Policy</a></div>
      </div>

    </footer>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/plugins.min.js"></script>
    <script src="js/siugo.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160276454-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160276454-1');
    </script>

    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "Gloria Chan",
        "url" : "http://www.siugo.co",
        "sameAs" : [
          "https://www.facebook.com/SIUGO.Makeup.Hairstyle/",
          "https://www.pinterest.com/siugoria/hairstyle/",
          "https://www.instagram.com/gloriasiugo/"
        ]
      }
    </script>
