
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Siugo | Makeup &amp; Hairstyle</title>
      <meta name="description" content="Makeup | Hairstyle - Wedding, Engagement Photoshoot, Party &amp; Event, Graduation &amp; Prom, Portraits" />
      <meta name="keywords" content="makeup, hair, wedding, engagement, photoshoot, party, event, prom, graduation, portraits" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="apple-touch-icon" href="apple-touch-icon.png">
      <link rel="shortcut icon" href="favicon.ico" />

      <!-- OG Tags -->
      <meta property="og:title" content="SIUGO"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://www.siugo.co"/>
      <meta property="og:image" content=""/>
      <meta property="og:site_name" content="SIUGO"/>
      <meta property="og:description" content="Makeup | Hair - Wedding Engagement, Photoshoot, Party &amp; Event, Prom"/>

      <!-- Stylesheets -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/siugo.min.css">

      <!-- Scripts -->
      <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
