
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="main-header" class="clearfix">
      <a href="/" class="brand">SIUGO</a>
      <a href="#" id="btn-mobile-menu" class="btn-mobile-menu pull-right visible-xs"><i class="fa fa-bars fa-xlg"></i></a>

      <!-- Navigation -->
      <nav id="main-navigation" role="navigation">
        <a href="#" id="btn-mobile-menu-close" class="btn-mobile-menu-close visible-xs"><i class="fa fa-times fa-xlg"></i></a>
        <ul>
          <li><a href="#services" class="smooth-scroll">Services</a></li>
          <li><a href="#about" class="smooth-scroll">About Me</a></li>
          <li><a href="#portfolio" class="smooth-scroll">Portfolio</a></li>
          <li><a href="#contact" class="smooth-scroll">Contact</a></li>
        </ul>
      </nav>
      <div class="bg-overlay"></div>
    </header>