/* Homepage Styles */

.section-hero {
	position: relative;
	text-align: center;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
	.section-header {
		.heading {
			color: @color-white;
			text-shadow: 4px 0 4px @color-grey, -4px 0 4px @color-grey;
		}
		.heading-secondary {
			color: @color-white;
			text-shadow: 4px 0 4px @color-grey, -4px 0 4px @color-grey;
			&:after { display: none; }
		}
	}
}

.section {
	padding: 80px 0;
	h2 { margin-bottom: 40px; }
}

.section-services {
	text-align: center;
	background-color: @color-grey-lighter;

	.content {
		max-width: @site-content-width;
		margin: 0 auto;
	}

	h3 {
		color: @color-black;
		&:after {
			content: "";
			display: block;
			height: 1px;
			width: 50px;
			background-color: @color-primary;
			margin: 20px auto;
		}
	}

	ul { 
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			min-height: 20px;
		}
	}

	.cta-find-more {
		display: inline-block;
		color: @color-primary;
		text-decoration: none;
		font-size: 1.5em;
		margin-top: 40px;
	}
}

.section-about {
	img {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 300px;
	}
}

.section-portfolio {
	padding: 40px 0 0;
	.portfolio-item {
		position: relative;
		width: 25%;
		overflow: hidden;
		float: left;
		&> a {
			display: block;
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 20px;
			height: 0;
		}
		.portfolio-img {
			position: absolute;
			width: 100%;
			height: auto;
			top: 50%;
			left: 0;
			.translate(0, -50%);
		}
		img {
			width: 100%;
			height: auto;
			.scale(1.05);
			.transition(@transition-primary);
		}
		.portfolio-label {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			background-color: @color-white;
			.transition(@transition-primary);
			.opacity(0);
			visibility: hidden;
			i {
				font-size: 2em;
				color: @color-grey;
				margin-top: 20%;
			}
			.album {
				color: @color-grey;
				margin-top: 20%;
				.transition(@transition-primary);
			}
		}

		&:hover {
			img { .scale(1.1); }
			.portfolio-label {
				.opacity(0.5);
				visibility: visible;
				.album { margin-top: 10px; }
			}
		}
	}
}

@media (max-width: @width-md-max) {
	.section-portfolio {
		.portfolio-item {
			width: 33.333333%;
		}
	}
}

@media (max-width: @width-xs-max) {
	.section {
		padding: 20px 0;
		h2 { margin-bottom: 10px; }
	}
	.section-portfolio {
		.portfolio-item {
			width: 50%;
		}
	}

	.parallax-container { height: 240px !important; }
}